.textbox{  /*Textbox*/
	border: 5px solid white;
    border-radius: 4px;
    padding: 20px;
    background-color: #7DA8A6;
    margin-top: 15px;
    color: #00100F;
    text-align: left
}

.textbox:hover{ /*Textbox hover*/
	border: 5px solid black;
}

.btn{ /*Submit button*/
	border: 3px solid white;
	background-color: #0E5653;
}

.btn:hover{
	border: 3px solid black;
	color:white;
}

.searchbox{ /*Search Box*/
	border: 3px solid white;
	color:white;
	background-color: #0E5653;
	margin-right: 10px;
}

input::-webkit-input-placeholder { /*Place holder color*/
	color: white !important;  
}

h1 {
	color: white;
}

body{
	background-color: #0E5653;
}

p{
	margin-bottom: -10px;  
}

h2{
	position: relative;
	top: -20px;
}

form{
	border-color: black;
	color: white;
}

a{
	text-align: center;
	color: white;
}

a:hover{
	color: black;
}

@media screen and (max-width: 310px){
    h1{
        font-size: 28px;
    }

    h2{
    	font-size: 20px;
    }

    .btn{
    	margin-top: 15px;
    }
}


.container{  /*Used flex and html and body css used to keep footer on bottom*/
	flex:1;
}

html{
	height: 99%;
}

body{
	display: flex;
  	flex-direction: column;
  	min-height: 100%;
}

footer{
	color: white;
}
